[Unit]
Description=Continuously updates the dashboard figures

[Service]
ExecStart = /home/pi/bleed-orange-measure-iaq/.venv/bin/python3 -E /home/pi/bleed-orange-measure-iaq/src/data/update_dashboard.py
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
